<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
</head>
<body>
<h1>Registration</h1>
<p th:if="${error}" th:text="${error}"></p>

<form method="post" action="/users">
  <label>
    <span>Username</span>
    <input type="text" name="name" required>
  </label>
  <label>
    <span>Email</span>
    <input type="email" name="email" required>
  </label>
  <label>
    <span>Password</span>
    <input type="password" name="password" required>
  </label>

  <fieldset>
    <legend>Gender</legend>
    <label>
      <input type="radio" name="gender" value="MALE">
      <span>male</span>
    </label>
    <label>
      <input type="radio" name="gender" value="FEMALE">
      <span>female</span>
    </label>
  </fieldset>
  <button type="submit">Registration</button>
</form>
<a href="/login">Login</a>
</body>
</html>